<div><h2><a href="/beers/beer-{{this.id}}">{{this.name}}</a></h2></div>
<div>
    <img style="width:100px" src={{this.image_url}}>
</div>
<div>Tagline: {{this.tagline}}</div>
<div>Description: {{this.description}}</div>